[submodule "lib/Freematics"]
	path = lib/Freematics
	url = git@github.com:stanleyhuangyc/Freematics.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
